<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CellTek HealthCare</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/celltek.jpeg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <i class="icofont-clock-time"></i> Sunday - Saturday, 8AM to 10PM
      </div>
      <div class="d-flex align-items-center">
        <i class="icofont-phone"></i> Call us now +234 816 540 5953
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo mr-auto"><img src="assets/img/celltek.jpeg" alt=""> CellTek HealthCare</a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html"><img src="assets/img/celltek.jpeg" alt="">Medicio</a></h1> -->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#departments">Departments</a></li>
          <li><a href="#doctors">Staff</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
          <li><a href="#contact">Contact</a></li>
          <li><a href="/blog">Blog</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-a.jpg)">
          <div class="container">
            <h2>Welcome to <span>CellTek</span></h2>
            <p><strong>HealthCare Medical Centre</strong></p>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-b.jpg)">
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-c.jpg)">
        </div> 
        
        <!-- Slide 4 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-d.JPG)">
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-heart-beat"></i></div>
              <h4 class="title"><a href=""></a>General Checkup</h4>
              <p class="description">A physical examination ensures wellness and good health by monitoring vitals like weight, blood pressure, cholesterol, and other markers</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-drug"></i></div>
              <h4 class="title"><a href="">Well equipped pharmacy</a></h4>
              <p class="description">Inpatient pharmacy services are available 24 hours a day for all patient care areas.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="icofont-thermometer-alt"></i></div>
              <h4 class="title"><a href="">Laboratory services</a></h4>
              <p class="description">Our team of experts are always available to perform the required tests necessary to ensure patients general wellbeing.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-dna-alt-1"></i></div>
              <h4 class="title"><a href="">Primary Care</a></h4>
              <p class="description">Specialized comprehensive medical care for all our patients to ensure wellness.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? Need help now?</h3>
          <p> Reach Our Hotline</p>
          <a class="cta-btn scrollto" href="#appointment">+234 816 540 5953</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Celltek Healthcare Medical and Research Center is the medical unit of Celltek Healthcare LTD. It is a specialized center for the research and therapy in Haematology and genetic diseases. Its major focus is the use of Stem cell therapy for cure of malignant and non malignant diseases (especially Sickle cell disease).</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/prof1.jpg" class="img-fluid" alt="">
          </div> 
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3> -->
            <p class="font-italic"> 
              The center is in collaboration with:
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Prof. Bazuaye GN, the pioneer of stem cell transplantation in Sub-Sahara Africa</li>
              <li><i class="icofont-check-circled"></i> All subspecialties including, Neurology, Neurosurgery, General surgery, Urology, Cardiology, Child health, Nephrology, Gastroenterology, Oncology, Obstetrics and Gynaecology.</li>
              <!-- <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> -->
            </ul>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum  <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-c.jpg)">
        </div>
            </p> -->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-doctor-alt"></i>
              <span data-toggle="counter-up">10</span>
              <p><strong>Doctors</strong></p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-patient-bed"></i>
              <span data-toggle="counter-up">6</span>
              <p><strong>Departments</strong> </p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-laboratory"></i>
              <span data-toggle="counter-up">1000</span>
              <p><strong>Happy Patients</strong></p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-award"></i>
              <span data-toggle="counter-up">11</span>
              <p><strong>Awards</strong></p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Complete blood count</h4>
              <p>Also known as a CBC, it is the most common blood test performed. It measures the types and numbers of cells in the blood, including red and white blood cells and platelets. This test is used to determine general health status, screen for disorders and evaluate nutritional status. </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Malaria test</h4>
              <p>Malaria is an infectious disease caused by Plasmodium parasites. These parasites are primarily spread by the bite of infected female Anopheles mosquitos. </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-images"></i>
              <h4>Widal test</h4>
              <p>The Widal test is one method that may be used to help make a presumptive diagnosis of enteric fever, also known as typhoid fever.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-shield"></i>
              <h4>Blood glucose test</h4>
              <p>A blood glucose test measures the glucose levels in your blood.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>At Celltek Healthcare, we provide the following list of services:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heart-beat"></i></div>
            <h4 class="title"><a href="">Automated Exchange blood transfusion</a></h4>
            <p class="description">Exchange transfusion involves the replacement of the total blood volume with compatible donor red blood cells (RBCs) and plasma.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4 class="title"><a href="">Therapeutic Apharesis</a></h4>
            <p class="description">Specialized Blood products therapy and Provision of Blood products eg. Platelets,red cell concentrate,Fresh frozen plasma, platelets rich plasma etc</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-dna-alt-2"></i></div>
            <h4 class="title"><a href="">Bone marrow transplant match testing</a></h4>
            <p class="description">Recruiting for Allogeneic stem cell transplant for Sickle cell disease</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heartbeat"></i></div>
            <h4 class="title"><a href="">Oncology</a></h4>
            <p class="description">Autologous stem cell transplant for multiple myeloma</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-disabled"></i></div>
            <h4 class="title"><a href="">General Hematology</a></h4>
            <p class="description">Specialised management of haemato-oncology diseases</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-autism"></i></div>
            <h4 class="title"><a href="">Psycho-oncology (counselling) service</a></h4>
            <p class="description">This Service provides psychological support to adults with haemato-oncology diseases.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  

    <!-- ======= Departments Section ======= -->
    <!-- <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Departments</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Cardiology</h4>
                  <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Neurology</h4>
                  <p>Voluptas vel esse repudiandae quo excepturi.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Hepatology</h4>
                  <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Pediatrics</h4>
                  <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Cardiology</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Neurology</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
              </div>
              <div class="tab-pane" id="tab-3">
                <h3>Hepatology</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
              </div>
              <div class="tab-pane" id="tab-4">
                <h3>Pediatrics</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>End Departments Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="100">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>

        </div>

      </div>
    </section>End Testimonials Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Staff</h2>
          <p>Meet our team of experienced professionals</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/doctors/proff.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Godwin Bazuaye</h4>
                <span>Chief Medical Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/doctors/doc2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nancy Ojiemhangbe </h4>
                <span>Apharesis Nurse</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/doctors/jules.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr Julius </h4>
                <span>Medical Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/doctors/mary.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nurse Mary</h4>
                <span>Hematology</span>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch"> -->
            <div class="rounded mx-auto d-block col-lg-3 col-md-6">  
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/doctors/mercy.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nurse Mercy</h4>
                <span> Hematology </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Celltek in pictures</p>
        </div>

       <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
          
          
          <a href="assets/img/gallery/surgery1.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery1.png" alt=""></a>
          <a href="assets/img/gallery/surgery2.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery2.png" alt=""></a>
          <a href="assets/img/gallery/surgery3.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery3.png" alt=""></a>
          <a href="assets/img/gallery/surgery4.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery4.png" alt=""></a>
          <a href="assets/img/gallery/surgery5.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery5.png" alt=""></a>
          <a href="assets/img/gallery/surgery6.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery6.png" alt=""></a>
          <a href="assets/img/gallery/genz.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery6.png" alt=""></a>
          <a href="assets/img/gallery/opsrm.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/surgery6.png" alt=""></a>
        </div>


      </div>
    </section><!-- End Gallery Section -->

  

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questioins</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <a data-toggle="collapse" class="" href="#faq1">Is bone marrow (stem cell) transplant the only treatment for sickle cell disease? <i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                It is the only cure for sickle cell disease at this time. Results of many studies show that transplants from matched related donors offer about an 85 percent chance of cure. Other treatment choices are the drug hydroxyurea and chronic red blood cell transfusions. These treatments may lessen the complications of sickle cell disease, but they do not cure the disease.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed"> How are stem cells used for transplant? <i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p> Stem cells may be used in different ways, depending on the type of transplant. They may be saved and frozen for later replacement in the patient's system, or they may be given to the patient almost immediately. After cells are collected, the patient undergoes chemotherapy and/or radiation to rid the body of cancer cells. This also creates space in the bone marrow for the new cells. Chemotherapy and radiation reduce the risk of the patient rejecting cells that come from a donor. The harvested bone marrow or blood stem cells are given to the patient using a flexible tube inserted into a vein. These cells proliferate and result in the production of normal blood cells.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Is a bone marrow transplant the same as a stem cell transplant? <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                You may hear the terms “bone marrow transplant” and “stem cell transplant” used interchangeably, which can be confusing. The two terms describe the same treatment. <br>Stem cells can come from: <ul><li>Bone marrow (your own or a donor’s)</li><li>Peripheral blood (your own or a donor’s)</li><li>Umbilical cord blood</li></ul>
                The medical term for any of those three types is “hematopoietic cell transplant.” But people use the term bone marrow transplant to describe any type.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">How long does it take to recover from bone marrow transplant? <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Every person’s situation is unique, but most people can expect to spend at least 30 days in the hospital while your body rebuilds your immune system. When your doctors determine your immune system is strong enough, you will be released from the hospital to continue recovery at home.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">What is the process for bone marrow donation?<i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Becoming a bone marrow donor begins with a simple cheek swab to analyze your DNA. If you are trying to donate to a relative, his or her doctor will check to see if you might be a match. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Who can I talk to about a bone marrow (stem cell) transplant? <i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                At Celltek Healthcare Medical Centre, we have experience in treating children with sickle cell disease with bone marrow (stem cell) transplant. Our doctors and other health care experts can answer your questions. We encourage families to discuss treatment options and to ask questions to learn more about the care of their children with sickle cell disease.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>For further information and enquiries, kindly contact us at:</p>
        </div>

      </div>

      <!-- <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div> -->

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>5, Izu-Osayogie Street, Iguosa<br></br>Off Ugbowo-Lagos Express Road, Benin City.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>nosabaz@yahoomail.com<br/>celltekhealthcaremedicalcenter@gmail.com<br>talk2nancyimade@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+234 816 540 5953<br/>+234 815 992 0142<br>+234 813 256 1966</p>
                </div>
              </div>
            </div>

          </div>

          <!-- contact form -->
          <!-- <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div> -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


          
          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">BYLAWS</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <h5>CELLTEK HEALTHCARE MEDICAL CENTER <br> ARTICLE 1: NAME AND INTRODUCTION OF AUTHORITY</h5>

Celltek Healthcare Medical center (“Authority”) is a private profit making organization and a subsidiary of Celltek Healthcare Limited (Rc 1386618) created as a private corporate body (on the 23rd January, 2017) under the federal republic of Nigeria Companies and Allied Matters Acts 1990.
The board of directors has agreed to set up the hospital by laws this 2nd of May 2019 to run the affairs of the Authority and subject to review yearly.<br>
<h5>ARTICLE II: ROLE AND PURPOSE OF AUTHORITY</h5>
The purposes of the Authority are:
(a)Delivering comprehensive, high-quality health care to patients using the hospitals and to those seeking care from its programs, including a commitment to provide such care for the medically indigent.
(b)Providing an environment suitable for instructing medical and other health professions, students, physicians, nurses and members of other health-related disciplines.
(c)Sponsoring and supporting research in the delivery of health care to further the welfare of the patients treated and applying the advances in health knowledge to alleviate human suffering, promote health and prevent disease.
(d)Assisting health programs and personnel throughout Africa in the delivery of health care through collaboration and training of health care personnel.
(e)Pioneering Research and treatment in stem cell therapy in Sub Sahara Africa.<br>
<h5>ARTICLE III: BOARD OF DIRECTORS</h5>
Section 3.1: General Powers and Duties. The business and affairs of the Authority shall be directed by the Board of Directors (“Board”). Among its duties, the Board shall have the duty to oversee the management of the Authority, to appoint a Medical Director(MD) and conduct annual performance appraisals of the MD, to approve medical staff bylaws, medical staff membership and clinical privileges, to provide for the delivery of quality patient care, to assure that strategic planning is performed, to provide for financial management, adopt an annual budget and arrange for financing and to assure that there is a process of performance improvement.
Section 3.2: Board of Directors membership. Board of directors shall be made up of all board trustees, the appointed board chairman, the medical director (MD), the director of administration (board secretary) and the hospital lawyer (legal adviser).
Section 3.3: Voting Members. As required by the laws of shareholders, the voting members of the Board shall be the board trustees rated according to the percentage of shares contributed. Other members of the board, chairman, Secretary, MD and the legal adviser shall have no voting rights.
Section 3.4: Meetings.
(a)Regular Meetings. The regular meeting shall be scheduled three monthly on a day and at a time set by resolution of the Board, but may be canceled by the Chairperson, provided that the Board shall meet at least four times per year and have at least one meeting in each calendar quarter.
(b)Quorum. One third of the total number of board members with the chairman and secretary shall constitute a quorum for the purpose of a regular board meeting. However during emergencies board members without a quorum can have a meeting and take decisions that will be rectified at the properly constituted quorum board meeting.
(c)Special Meetings. Special meetings may be called by the Chairperson at any time, and shall be called by the Chairperson at the request of three members of the Board. Written notice of special meetings must be given to all members not less than three (3) days prior to a special meeting stating the time, place and purpose of the meeting.
(d)Location. Except for teleconference meetings, all meetings of the Board shall be held in the conference hall at the premises of celltek Healthcare Medical center, unless otherwise ordered by the Board.
(e)Teleconferencing. Any regular or special meeting of the Board or any committee thereof may be held by teleconference at the discretion of the chairperson.
(f)Minutes of Meetings and Custodian of Records. Minutes of all meetings of the Board and its committees shall be kept. Upon approval, such minutes shall be filed up in the library of the establishment.
Section 3.5: Compensation of Members of the Board. Members of the Board shall not receive compensation for serving as members. However, members shall be reimbursed for expenses incurred in connection with carrying out their duties. The board chairman shall be paid administrative allowances as stipulated and approved by the board.<br>
<h5>ARTICLE IV: OFFICERS OF THE BOARD OF DIRECTORS</h5>
Section 4.1: Officers. The officers of the Board shall consist of a Chairperson, vice chairperson, secretary, members of board trustees and the legal adviser as reflected in section 3.2
Section 4.2: Appointment of Officers. The board Chairman shall be appointed by the board of trustees for a period of two years. The hospital administrator shall be the secretary to the board.
Section 4.3: Chairperson. The Chairperson shall preside at all meetings of the Board; shall serve as an ex-officio member, without vote, on all standing and special committees, unless otherwise specified in these bylaws; shall appoint all committee members, unless otherwise specified in these Bylaws; and shall perform all of the acts usually attendant upon the office of Chairperson or which may be set forth in these bylaws or resolutions of the Board.
Section 4.4: Vice Chairperson. During the absence of the Chairperson or his/her inability to act, the Vice Chairperson shall perform the duties and exercise the powers of the Chairperson. The most senior Trustee shall act as vice chairperson.
Section 4.5: Secretary and Assistant Secretaries. The Board shall designate by resolution the director of administration to be secretary and to keep a record of the proceedings of the Authority and to serve as custodian of all books, documents and papers filed with the Authority, the minute book or journal of the Authority and its official seal. This person shall be the Secretary and need not be a member of the Board. The Board may by resolution designate one or more other persons to serve as Assistant Secretaries. The Secretary or any Assistant Secretary may cause copies to be made of all minutes and other records and documents of the Authority and may give certificates under the official seal of the Authority to the effect that such copies are true copies, and all persons dealing with the Authority may rely upon such certificates.<br>
<h5>ARTICLE V: COMMITTEES</h5>
Section 5.1: Committee Designation. The Board shall establish academic and non- academic committees, the Board may establish other standing and special committees.
Section 5.2: Composition. The Chairperson shall appoint the members of committees, unless another method of selection for a particular committee is specified in these Bylaws or by resolution of the Board. Non-board members may be appointed to serve on committees of the Board of the Directors, unless these Bylaws or a Board resolution specifies otherwise. At least one member of each committee shall be members of the Board. One or more members of the medical staff shall be included on all committees appointed to deliberate issues affecting the discharge of medical responsibilities, except for Board committees, if any, reviewing medical staff appointment, reappointment, clinical privileges, or corrective action.
Section 5.3: Academic committees. The medical Director shall head these committees which will be in research, clinical therapies, data management, error reporting, scientific collaboration and publications.
Section 5.4: Non Academic committees. The Director of administration shall head these committee which will include disciplinary, fund raising, Audit and financial matters.<br>
<h5>ARTICLE VI: OFFICERS OF THE AUTHORITY</h5>
Section 6.1: Selection of the MD. The MD shall be chosen by the Board from amongst the employed consultant Haematologist/Paediatrician/Immunologist and stem cell transplantologist with a minimum of a year experience in stem cell transplantation and shall serve at the pleasure of the Board for a 2 years renewable period.
Section 6.2: Duties and Functions of the MD. The MD shall act as the executive officer of the Authority and shall be responsible for the management of the Authority. The MD shall have general charge of the business and affairs of the Authority and shall direct all other officers, agents and employees. Except as provided in these bylaws or by Board resolution, the MD shall appoint all other officers, agents and employees of the Authority. The MD shall organize the functions of the Authority through appropriate departmentalization and delegation, establishing formal means of staff evaluation and accountability.
The MD shall provide liaison among the Board, medical staff, the nursing service and other services of the Authority. The MD shall keep the Board informed about the management and financial status of the Authority through regular reports to the Board. The MD may delegate his/her authority to act on behalf of the Authority to other employees and agents of the Authority.
Section 6.3: Chief Financial Officer and General Counsel. The MD shall appoint the Chief Financial Officer and the General Counsel, subject to the approval of the Board. They are subject to removal by the MD with the approval of the Board.
<h5>ARTICLE VII: MEDICAL STAFF</h5>
Section 7.1: Medical Staff Bylaws. The medical staff of the Authority shall be organized and function under bylaws approved by the Board.
Section 7.2: Medical Staff Appointments and Clinical Privileges. Appointment and reappointment of the medical staff, delineation of their clinical privileges, and hearings and appeals shall be in accordance with the Medical Staff Bylaws approved under Section 7.1.<br>
<h5>ARTICLE VIII: AUXILIARY ORGANIZATIONS</h5>
Approved auxiliary organization may be permitted to provide volunteer non profitable services on behalf of the Authority or within the facilities operated by the Authority. Such auxiliary organizations shall coordinate their services with the management of the Authority. The Bylaws and, if any, the Articles of Incorporation of any auxiliary organization which bears the name of Celltek Healthcare, or any other name under which the Authority conducts business, must be approved by the MD in order for the organization to be an approved auxiliary organization and subject to final approval by the Board.<br>
<h5>ARTICLE IX: CONFLICT OF INTEREST</h5>
Prior to taking any action in an official capacity on any matter involving a potential conflict of interest or an actual conflict of interest, any Director shall state the nature of the potential or actual conflict of interest. Any Director having an actual conflict of interest in a transaction with the Authority shall in addition (i) refrain from participating as a public official in any discussion or debate on the issue out of which the conflict arises and (ii), unless the Director’s vote is necessary for Board action on the issue and is otherwise not prohibited by law, refrain from voting on the issue. An actual conflict of interest shall be any situation which would violate section of the federal Republic Laws of the Nigerian Constitution 1999.<br>
<h5>ARTICLE X: CONFIDENTIALITY</h5>
Subject to the requirements of applicable law, the members of the Board and officers of the Authority shall take such steps as are necessary to preserve the confidentiality of (1) sensitive business records and financial and commercial information concerning or belonging to the Authority which are of a nature not customarily provided to business competitors, (2) confidential patient or personnel information, (3) confidential information concerning potential or pending claims, and (4) other confidential information to which they may have access in the course of their duties for the Authority.<br>
<h5>ARTICLE XI: AMENDMENTS</h5>
These Bylaws may be altered, amended, or repealed at any Board meeting by an affirmative vote of majority shareholder, members, provided that proposed amendments shall be specifically set forth in the meeting notice.<br>
<h6>ADOPTED: May 10TH, 2019</h6>

                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
        



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>CellTek HealthCare</h3>
              <p>
                5, Izu-Osayogie Street, Iguosa <br>
                Off Ugbowo-Lagos Express Road, Benin City.<br><br>
                <strong>Phone:</strong> +234 815 992 0142<br>
                <strong>Email:</strong> celltekhealthcaremedicalcenter@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                 <!--<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
              </div>
            </div>
          </div>
         


          <div class="col-lg-2 col-md-12 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="" data-toggle="modal" data-target="#myModal">ByLaws and Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Therapeutic Apharesis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">General Hematology</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Oncology</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Intensive Care Unit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Stem Cell Transplantation</a></li>
            </ul>
          </div>

           <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Coming Soon</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> 

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021<strong><span> CellTek HealthCare</span></strong>. All Rights Reserved
      </div>
      <div class="copyright">
        Made with &#10084;&#65039; by <a href="http://yemmyharry.tech">Yemi</a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>